
* {
    margin: 0px;
    text-align: center;
}

body {
    background:rgb(117, 116, 116) !important;
    background-image: url("http://127.0.0.1:5500/image/fondo.png ") !important;
}

@media screen and (max-width: 1300px) {
    .contenido-ruleta {
        margin-left: 20%;
        width: auto;
    }
} 


.vara {
    height: 70px;
    width: 15px;
    background-color: #aaa;
    margin: auto;
    position: relative;
    top: 10px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #000;
    border-top: 5px solid #000;
    z-index: 1000;
}

img {
    z-index: 100;
    transition: all 5s;
}

#premio { 
    color: white;
    position: absolute;
    width: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.173);
}

#tabla {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s;
}

#columnaValue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.elije {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.texto-ganado {
    transition: all 0.3s;
    color: white;
    background-color: #aaa;
    padding: 0 20px;
}

.texto-ganado:hover {
    transform: scale(1.1);
    /* transform: translateY(-10px);  */
}

@media screen and (max-width: 562px) {
    .contenido-ruleta {
        margin: 0;
        margin-top: 80%;
    }

    #premio {
        top: 0;
        max-height: 240px;
        overflow: scroll;
        width: 100%;
    }

    .vara::after {
        position: absolute;
        margin: -11rem 0 0 8rem;
        content: "⇕";
        font-size: 2rem;
        color: white;
        padding: 0;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.173);
    }

    .vara {
        height: 40px;
        width: 10px;
        border-top: 2px solid rgb(0, 0, 0);
    }

}